.toggle-checkbox {
   display: none;/* Hide the actual checkbox */
   
}

.whole-page{
  display: flex;
}
.collapsible-content {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  border:10px solid;
  margin-right: 3em;
  box-shadow: #081a4b 2px 2px 0 0  !important;

  border-color: white;
  background-color: white;
  transition: max-height 0.3s ease-in-out; /* Smooth transition */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.assignment-color {
  background-color: #E8B35E;
  box-shadow: #081a4b 2px 2px 0 0  !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: 3em;
  height: 3em;
  display: flex;
  justify-content: space-between;
}

.assignment-color label, .toggle-checkbox {
  margin-left:2em;
  font-weight: bold;
  font-size: large;
}

.assignment-color label:hover{
  color: white;
  cursor: pointer;
}

.assignment-color label:active{
  color: teal;
}

.assignment-list-background{
  position: absolute;
  margin-top: 1em;
  border-radius: 15px;
  background-color: #63D9C4;
  width: 75%;
  height: 100%;
}

.title{
  display: grid;
  justify-content: center; 
}

.title h2{
  background-color: white;
  padding: 10px;
  padding-left: 8em;
  padding-right: 8em;
  border-radius: 15px;  
}
.title button{
  justify-self: center;
}


button{
    color: #081a4b;
    box-shadow: #081a4b 2px 2px 0px 0px !important;
    cursor: pointer;
}

button:hover{
    color: #081a4b;
    box-shadow: #081a4b 2px 2px 0px 0px !important;
    border-color: transparent;
    background-color: white !important;
    cursor: pointer;
}


.toggle-checkbox:checked ~ .collapsible-content{
  max-height: 500px; 
  visibility: visible;
}
.toggle-checkbox:checked ~ .arrow-toggle{
  transform:rotate(90deg);
  transition: 0.5s;
}  


/*Side bars*/
.sidebars{
  display: grid;
  margin-left: 1em;
  position: absolute;
  right: 0;
  justify-content: right;
  height: 100%;
  margin-right: 10px;
}
.sidebar-link1{
  color: white;
  font-weight: bold;
  border-radius:15px;
  background-color: #63D9C4;
  align-items: center;
  padding: 15px;
}
.sidebar-link2{
  color: white;
  font-weight: bold;
  border-radius:15px;
  background-color: #E8B35E;
  align-items: center;
  padding: 15px;
}

/*Edit pop up*/

.popup-background{
  display: flex;
  background-color: rgba(255,255,255,0.5);
 justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.popup{
background: rgb(19, 243, 187);
  padding: 2em;
  width: 350px;
  margin-top: 8em;
  height: 50%;
  border-color: #ffa704;
  border-width: 10px;
  border-radius: 5%;
}

.popup form{
  display: flex;
  flex-direction: column;
}

.create-background{
  display: flex;
  background-color: rgba(255,255,255,0.5);
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.create-foreground{
  background: rgb(19, 243, 187);
  padding: 2em;
  width: 350px;
  margin-top: 8em;
  height: 50%;
  border-color: #ffa704;
  border-width: 10px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;

}

.create-foreground form{
  display: flex;
  flex-direction: column;
}

ul{
  list-style-type: none;
}
.assignment {
  margin-bottom: 10px;
}