.toggle-checkbox {
   display: none;/* Hide the actual checkbox */
   
}

.whole-page{
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.collapsible-content {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  border:10px solid;
  margin-right: 3em;

  border-color: aqua;
  transition: max-height 0.3s ease-in-out; /* Smooth transition */
}

.assignment-color {
  background-color: #E8B35E;
  border:solid, 1px, black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-right: 3em;
  height: 3em;
  /* padding-right: ; */
}

.assignment-list-background{
  position: absolute;
  margin-top: 1em;
  border-radius: 15px;
  background-color: #63D9C4;
  width: 75%;
  height: 100%;
}

.title h1{
  align-items: center;
  justify-content: center;

}

.toggle-checkbox:checked ~ .collapsible-content{
  max-height: 500px; 
  visibility: visible;
}
.toggle-checkbox:checked ~ .arrow-toggle{
  transform:rotate(90deg);
  transition: 0.5s;
}  


/*Side bars*/
.sidebars{
  position:absolute; 
  right: 0; 
  justify-content:right;  
}
.sidebar-link1{
  font-family: "Verdana", sans-serif;
  color:rgb(255, 255, 255);
  font-weight:bold;
  white-space: nowrap; 
 
  border-radius:15px;
  padding-right: -50px;
  padding-bottom:50%;
  background-color: #63D9C4;
  padding-left:30px;
  margin-right: -3%;

}
.sidebar-link2{
  font-family: "Verdana", sans-serif;
  color:rgb(255, 255, 255);
  font-weight:bold;
  
  border-radius:15px;
  padding-right: 40px;
  padding-bottom:150%;
  background-color:#E8B35E;
  padding-left:50px;
  margin-right: -3%;
}

/*Edit pop up*/

.popup-background{
  display: flex;
  background: transparent;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 75%;
  height: 75%;
  z-index: 999;
}
.popup{
  background: rgb(19, 243, 187);
  padding: 2em;
  width: 350px;
  border-color: #ffa704;
  border-width: 10px;
  border-radius: 5%;
}

.create-background{
  display: flex;
  background: transparent;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 75%;
  height: 75%;
  z-index: 999;
}
.create-foreground{
  background: rgb(19, 243, 187);
  padding: 2em;
  width: 350px;
  border-color: #ffa704;
  border-width: 10px;
  border-radius: 5%;
}

ul{
  list-style-type: none;
}