<Section class="whole-page">
  <div class="page-content">
  <!--Populate with Assignments-->
    <div class="assignment-list-background">
      <div class="title">
        <h2>Assignments</h2>
        <button *ngIf="User?.roleId != 'ff123156-7773-47f5-b5df-0ef54f864f8d'" (click)="openCloseCreatePopup()">Create Assignment</button>
      </div>
      <ul>
        <li *ngFor="let assignment of ASSIGNMENTS; let i = index" class="assignment">
          <input type="checkbox" [id]="'toggle-box-' + i" class="toggle-checkbox">
          <div class="assignment-color">
            <label [for]="'toggle-box-' + i" class="toggle-label">{{assignment.name}}</label>
            
            <div class="buttons" *ngIf="User?.roleId != 'ff123156-7773-47f5-b5df-0ef54f864f8d'">
              <button  [id]="'delete-button' +i" (click)="deleteAssignment(assignment.assignmentId)">Delete</button>
              <button  [id]="'edit-button' +i" (click)="openEditPopup(assignment)">Edit</button>
            </div>
          </div>
          
          <div class="collapsible-content">
            <div>{{assignment.description}}</div>
            <span class="dueDate">Due Date: {{assignment.dueDate}}</span>

            <form (ngSubmit)="submitAssignment(assignment.assignmentId, fileSubmission)">
              <label [for]="'chooseFile-' + i">Choose a file for upload:</label>
              <input type="file" [id]="'chooseFile-' + i" accept=".pdf,.doc,.txt" #fileSubmission>
              <button type="submit">Submit</button>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="sidebars">
    <p class="sidebar-link1"> Weekly calendar --Coming Soon--</p>
    <p class="sidebar-link2"> Notifications --Coming Soon--</p>
  </div>
</Section>

<!--Assignment Creation-->
  <section class="create-background" *ngIf="isCreatePopupOpen">
    <div class="create-foreground">
    <form (ngSubmit)="createAssignment(nameInput.value, descInput.value, dateInput.value)">
      

        <label for="name">Name</label>
        <input type="text" id="name" #nameInput required />

        <label for="description">Description</label>
        <textarea id="description" #descInput required></textarea>

        <label for="date">Date</label>
        <input type="datetime-local" id="date" #dateInput required />

    
        <button type="submit">Create Assignment</button>
      
    </form>
    <button (click)="openCloseCreatePopup()">Close</button>
    </div>
</section>

<!--Appear When Editing-->
<section class="popup-background" *ngIf="isEditPopupOpen">
  <div class="popup">
    <h2>Edit</h2>
    <form (ngSubmit)="editAssignment(selectedAssignment.assignmentId, eName.value, eDesc.value, eDate.value)">
      <label for="name">Name</label>
        <input type="text" id="eName" #eName required />

        <label for="description">Description</label>
        <textarea id="eDesc" #eDesc required></textarea>

        <label for="date">Date</label>
        <input type="datetime-local" id="eDate" #eDate required />
      <button type="submit">Submit Changes</button>
      
    </form>
    <button (click)="closeEditPopup()">Close</button>
  </div>
</section>