.toggle-checkbox {
   display: none;/* Hide the actual checkbox */
   
}

.whole-page{
  display: flex;
}
.collapsible-content {
max-height: 0;
  overflow: hidden;
  border:10px solid;
  margin-right: 50%;
  border-right: 50%;
  border-color: aqua;
  transition: max-height 0.3s ease-in-out; /* Smooth transition */
}

.assignment-color {
    background-color: #ffa704;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 50%;
  border-right: 50%;
  /* padding-right: ; */
}

.toggle-checkbox:checked ~ .collapsible-content{
  max-height: 500px; /* Adjust to a value large enough to contain content */
}
.toggle-checkbox:checked ~ .arrow-toggle{
  transform:rotate(90deg);
  transition: 0.5s;
}  

.toggle-checkbox1 {
  display: none; /* Hide the actual checkbox */
}

.collapsible-content1 {
max-height: 0;
  overflow: hidden;
  border:10px solid;
  margin-right: 50%;
   border-right: 50%;
  border-color: aqua;
  transition: max-height 0.3s ease-in-out; /* Smooth transition */
}

.toggle-checkbox1:checked ~ .collapsible-content1 {
  max-height: 500px; /* Adjust to a value large enough to contain content */
  /* Or, for a more dynamic height, you might need JavaScript */
}

.toggle-checkbox2 {
  display: none; /* Hide the actual checkbox */
}

.collapsible-content2 {
 max-height: 0;
  overflow: hidden;
  border:10px solid;
  margin-right: 50%;
   border-right: 50%;
  border-color: aqua;
  transition: max-height 0.3s ease-in-out; /* Smooth transition */
}

.toggle-checkbox2:checked ~ .collapsible-content2 {
  max-height: 500px; /* Adjust to a value large enough to contain content */
  /* Or, for a more dynamic height, you might need JavaScript */
}

.toggle-checkbox3 {
  display: none; /* Hide the actual checkbox */
}

.collapsible-content3 {
  max-height: 0;
  overflow: hidden;
  border:10px solid;
   margin-right: 50%;
   border-right: 50%;
  border-color: aqua;
  transition: max-height 0.3s ease-in-out; /* Smooth transition */
}

.toggle-checkbox3:checked ~ .collapsible-content3 {
  max-height: 500px; /* Adjust to a value large enough to contain content */
  /* Or, for a more dynamic height, you might need JavaScript */
}




/*Side bars*/
.sidebars{
    display:grid;
    
    justify-content:right;  
}
.sidebar-link1{
    font-family: "Montserrat", sans-serif;
    color:rgb(255, 255, 255);
    font-weight:bold;
    white-space: nowrap; 
    border:8px solid;
border-color:rgb(19, 243, 187);
border-radius:15px;
padding-right: -50px;
padding-bottom:50%;
background-color: rgb(19, 243, 187);
padding-left:30px;
margin-right: -3%;

}
.sidebar-link2{
    font-family: "Montserrat", sans-serif;
    color:rgb(255, 255, 255);
    font-weight:bold;
    border:8px solid;
border-color:rgb(247, 191, 8);
border-radius:15px;
padding-right: 40px;
padding-bottom:150%;
background-color: rgb(247, 191, 8);
padding-left:50px;
margin-right: -3%;
}

/*Edit pop up*/

.popup-background{
  display: flex;
  background: transparent;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 75%;
  height: 75%;
  z-index: 999;
}
.popup{
  background: rgb(19, 243, 187);
  padding: 2em;
  width: 350px;
  border-color: #ffa704;
  border-width: 10px;
  border-radius: 5%;
}

