<section>
<h1>Class navbar</h1>

<div class="page-content">
                <div class="course-grid" >
                <h2>Courses</h2>
                <div class="class-list">
                    <a class="class" routerLink="/content"> <i></i>Content </a>
                    <a class="class" routerLink="/assignments"><i class="bi bi-box-arrow-right"></i> assignment </a>
                    <a class="class" routerLink="/quizzes"> <i></i>Quizzes </a>
                    <a class="class" routerLink="/grades"><i></i> Grades </a>
                </div>
                </div>
                
                <div class="sidebars">
                     <p class="sidebar-link1"> Weekly calendar </p>
                    <p class="sidebar-link2"> Announcements </p> 
                    </div>
                    </div>
            </section>