<section>
    <div>
        <div>
            <h1>{{COURSES.name}}</h1>
            <div>
                <button>
                    Content
                </button>
                <button [routerLink]="['assignments']">
                    Assignments
                </button>
                <button>
                    Quizzes (Comming Soon)
                </button>
                <button>
                    Grades
                </button>
            </div>
        </div>
        <div>

        </div>
    </div>
</section>