section{
  display: flex;
}
#courseNav{
  border-radius: 15px;
  padding: 15px;
  width: 75%;
  justify-items: center;
  margin: 15px;
  margin-right: 0;
  background-color: #a8a3a3;
  background-image: url(../../../../public/courseBackground.png);
  background-size: cover;
  background-blend-mode: soft-light;
}
#courseNav h1{
  font-style: bold;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  width: 50%;
  height: fit-content;
}
#courseContent{
  display: grid;
  grid-template-columns: auto auto;
  gap: 25px;
}
#courseContent div{
  width: 24em;
  height: 14em;
  margin: 15px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#courseContent div button{
  background-color: #E8B35E;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: transparent;
  padding: 20px;
  font-size: medium;
}
#courseContent div:hover{
  transition: 0.5s ease;
  box-shadow: #081a4b 2px 2px 0px 0px !important;
  background-color: #63D9C4 !important;
}
#courseContent div:hover button{
  transition: 0.5s ease;
  color: #081a4b;
  box-shadow: #081a4b 2px 2px 0px 0px !important;
  background-color: white !important;
  cursor: pointer;
}

.sidebars{ 
    display: grid;
    margin-left: 20px;
}
.sidebar-link1{
    color: white;
    font-weight: bold;
    border-radius:15px;
    background-color: #63D9C4;
    align-items: center;
    padding: 15px;
}
.sidebar-link2{
    color: white;
    font-weight: bold;
    border-radius:15px;
    background-color: #E8B35E;
    align-items: center;
    padding: 15px;
}