ul{
    list-style-type: none;
}

.content-section{
    background-color: #63D9C4;
    display: flex;
    width: 100%;
    margin-top: 2em;
    justify-content: center;
    border-radius: 15px;
    padding:2em
}
.content-section h2{
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    align-self: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
}

.teacher-controls{
    display: flex;
    justify-content: center;
}

.class-list-container{
    background-color: #E8B35E;
}

.student-item{
    background-color: #D9D9D9;
    border-radius: 15px;
    padding: 1em;
    margin: 1em;
    margin-left: 0;
}
#student-list-background{
    display: flex;
    background-color:#FFFAFA;
    justify-content: center;
}