<section class="content-section">
  <p class="section-title">Content Work!</p>

  <div class="content-layout">

    <div class="weekly-panels">
      <div *ngFor="let content of contentList" class="week-panel">
        <button class="week-toggle" (click)="toggleContent(content)">
          <h4>{{ content.name }}</h4>
        </button>
        <div *ngIf="content.expanded" class="week-content">
          <a [routerLink]="['/assignment', content.contentId]" class="assignment-link">
            View Assignment
          </a>
          <p>{{ content.description }}</p>
        </div>
      </div>
    </div>


    <!-- <aside class="sidebar">
      <div class="weekly-calendar">
        <h5>Weekly Calendar</h5>
      </div>
      <div class="announcement-box">
        <h5>Announcement</h5>
      </div>
    </aside> -->
  </div>
</section>