.content-panel {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    width: fit-content;
    padding: 20px;
    width:95%;
    background-color:#E8B35E;
    border-right:10%;
    

}
.subcontent-list{
    width:78%;
  
}

.viewable a{
    color:rgb(0, 0, 0);
    border:1px solid ;
    border-color:black;
    border-radius:25px;
    padding:2px;
}
.viewable a:hover{
color:aqua;
}
.viewable a:active{
    color:red;
}
.content-layout button{
    margin:10px;
}
.content-layout button:hover{
    background-color:rgb(26, 230, 230);
    color:rgb(0, 0, 0);
    transform: scale(1.1); 
    transition:0.3s ease-in-out;
}

.description p{
     font-family: "Montserrat", sans-serif;
}
.content-layout {
    font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
}
.content-layout label{
    margin-right:10px;
    margin-left:10px;
    /* padding-right:20px;
    border-right:20px; */
}
.savebtn{
    margin:0px;
}
ul{
    border-right:100%;
    
}
.content-panel li{
    background-color:white;
}
.content-section {

    background-color: #63D9C4 ;
    margin-top:1%;
    padding-bottom:2%;
    border-radius: 25px;
    border:10px;
}
.content-section p,small,h4{
color:rgb(0, 0, 0);
}
.contentData{
    background-color:white;
    border:0px solid;
    border-color:rgb(106, 106, 106);
    margin-left:2.7%;
    margin-right:20%;
}