.content-panel {
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top:10px;
    overflow: hidden;
    width: fit-content;
    padding: 20px;
    width:95%;
    background-color:#E8B35E;
    border-right:10%;

    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */

}
.content-panel button{
background-color: rgb(26, 230, 230);
border:1px solid rgba(0, 0, 0, 0);
font-family: "Stack Sans Headline", sans-serif;
border-radius:3px;
height:30px;
width:120px;    
}
.subcontent-list{
    width:78%;
  
}

.viewable a{
    color:rgb(163, 255, 147);
    border:1px solid ;
 
    border-radius:25px;
    padding:2px;
}
.viewable a:hover{
color:rgb(38, 255, 0);
border-radius:10px;
transform:scale(1.5);
transition:0.3s ease-in-out;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.viewable a:active{
    color:red;
}
.content-layout button{
    margin:10px;
}
.content-layout button:hover{
    background-color:rgb(0, 255, 255);
    color:rgb(255, 255, 255);
    /* border-color:rgba(255, 255, 255, 0); */
    transform: scale(1.1); 
    transition:0.3s ease-in-out;
}

.description p{
     font-family: "Montserrat", sans-serif;
}
.content-layout {
    font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
}
.content-layout label{
    margin-right:10px;
    margin-left:10px;
    /* padding-right:20px;
    border-right:20px; */
}
.savebtn{
    margin:0px;
}
ul{
    border-right:100%;
    
}
.content-panel li{
    background-color:rgb(155, 155, 155);
    border:1px solid color(srgb red green blue);
    border-top-left-radius: 25px;
    border-top-right-radius:25px;
    margin-top:40px !important;
    padding-top:40px;
    color:black;
}
.content-panel p{
    color:black;
}

.content-section {

    background-color: #63D9C4 ;
    margin-top:1%;
    padding-top:5%;
    padding-bottom:2%;
    border-radius: 25px;
    border:10px;
}
.content-section p,small,h4{
color:rgb(255, 255, 255);
}
.contentData{
    background-color:white;
    border:0px solid;
    border-color:rgb(106, 106, 106);
    margin-left:2.7%;
    padding-top:10px;
    margin-right:5%;
}

/* app-content button{

} */