<section class="content-section">
  <p class="section-title">Content Work!</p>

  <div class="content-layout">
    
    <div class="weekly-panels">
      <div *ngFor="let week of WEEKS" class="week-panel">
        <button class="week-toggle" (click)="toggleWeek(week)">
          <h4>{{ week.name }}</h4>
        </button>
        <div *ngIf="week.expanded" class="week-content">
          <a [routerLink]="['/assignment', week.contentId]" class="assignment-link">
            View Assignment
          </a>
          <p>{{ week.description }}</p>
        </div>
      </div>
    </div>

   
    <aside class="sidebar">
      <div class="weekly-calendar">
        <h5>Weekly Calendar</h5>
       
      </div>
      <div class="announcement-box">
        <h5>Announcement</h5>
       
      </div>
    </aside>
  </div>
</section>
