.content-panel {
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top:10px;
    overflow: hidden;
    width: fit-content;
    padding: 20px;
    width:95%;
    background-color:#E8B35E;
    border-right:10%;

    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */

}

.Viewable{
    color:green;
}
.Not-Viewable{
    color:red;
}

input[type="file"]{
    display:none;
}
.fileInputbtn{
    color: white;
    background-color: #9D81EC;
    box-shadow: #081a4b 2px 2px 0px 0px !important;
    cursor: pointer;
    border-radius: 15px;
    margin: 0.5em;  
}
.content-panel h4{
    cursor:pointer;
}
.content-panel button{
border:1px solid rgba(0, 0, 0, 0) !important;
border-radius:3px !important;
height:30px;
width:120px;    
 color: #081a4b;
    box-shadow: #081a4b 2px 2px 0px 0px !important;
    border-color: transparent;
    background-color: white !important;
    cursor: pointer;
}
.subcontent-list {
    width:78%;
}
.subcontent-list li{
    color:white;
}

.viewable a{
    color:#2e84e7;
    /* border:1px solid black;
    padding:2px;
    color: white;
    background-color: #9D81EC;
    box-shadow: #081a4b 2px 2px 0px 0px !important;
    border-radius: 25px !important;
    margin-bottom:20px !important;
    cursor:pointer; */
}
small{
    margin-top:20% !important;
}
/* .viewable a:hover{

border-radius:10px;
transform:scale(1.5);
transition:0.3s ease-in-out;
color: #081a4b;
    background-color: #9D81EC;
    box-shadow: #081a4b 2px 2px 0px 0px !important;
    cursor: pointer;
    border-radius: 15px;
    border-color:1px solid black !important;
} */
.viewable a:active{
    color:#081a4b;
}
.content-layout button{
    color:white;

    margin:10px;
     background-color: #9D81EC !important;
    box-shadow: #081a4b 2px 2px 0px 0px !important;
    cursor: pointer;
    border-radius: 15px  !important;
}
.content-layout button:hover{
    /* background-color:rgb(0, 255, 255); */
    transform: scale(1.1); 
    transition:0.3s ease-in-out;
     background-color: #9D81EC;
    box-shadow: #081a4b 2px 2px 0px 0px !important;
    cursor: pointer;
    border-radius: 15px;
}

.content-layout {
    
  font-optical-sizing: auto;
}
.content-layout label{
    margin-right:10px;
    margin-left:10px;
    /* padding-right:20px;
    border-right:20px; */
}
.savebtn{
    margin:0px;
}
ul{
    border-right:100%;
    
}
.create-contbtn{
 color: white;
    background-color: #9D81EC;
    box-shadow: #081a4b 2px 2px 0px 0px !important;
    cursor: pointer;
    border-radius: 15px;
    margin: 0.5em;
    
}
.content-panel li{
    background-color:rgb(255, 255, 255);
    border-radius:25px; 
    margin-top:40px !important;
    padding-top:40px;
    margin-right:5%;
    color:black;
}
.content-panel p{
    color:black;
}

.content-section {

    background-color: #63D9C4 ;
    margin-top:1%;
    padding-bottom:2%;
    border-radius: 25px;
    border:10px;
}
.content-section p,small,h4{
color:rgb(0, 0, 0);
}
.contentData{
    background-color:#63D9C4;
    border:0px solid;
    border-radius:10px;
    border-color:rgb(106, 106, 106);
    margin-left:2.7%;
    padding-top:10px;
    margin-right:5%;
    padding-left:2%;
}

/* app-content button{

} */