#courseBox{
    background-color: #D9D9D9;
    border-radius: 15px;   
}
#courseBox h2{
    margin: 15px;
    margin-top: 20px;
}
li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}