#courseBox{
    background-color: #D9D9D9;
    border-radius: 15px;   
    width: 75%;
}
#courseBox h2{
    margin: 15px;
    padding: 15px;
    margin-bottom: 0;
}
ul{
    justify-items: left;
    display: grid;
    grid-template-columns: auto auto auto;
}
li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}
li button{
    width: 20em;
    border-radius: 5px;
    border-color: transparent;
    background-color: #63D9C4;
    margin: 1px;
}
li button:hover{
    color: white;
    box-shadow: black 2px 2px 0px 0px !important;
    border-color: black !important;
    cursor: pointer;
}
.update-deleteButton{
    border-color: black !important;
    background-color: #E8B35E !important;
    padding: 5px;
}
.update-deleteButton:hover{
    color: white;
    box-shadow: black 2px 2px 0px 0px !important;
    border-color: black !important;
}

#courseDisplay{
    display: flex;
    margin: 15px;
}
.sidebars{ 
    display: grid;
}
.sidebar-link1{
    color: white;
    font-weight: bold;
    border-radius:15px;
    background-color: #63D9C4;
}
.sidebar-link2{
    color: white;
    font-weight: bold;
    border-radius:15px;
    background-color: #E8B35E;
}

#courseForm{
    width: fit-content;
    height: fit-content;
    background-color: #63D9C4;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#courseForm fieldset{
    border-color: transparent;
    margin: 5px;
}
#courseForm button{
    border-radius: 5px;
}