#courseBox{
    background-color: #D9D9D9;
    border-radius: 15px;   
    width: 75%;
}
#courseBox h2{
    margin: 15px;
    padding: 15px;
    margin-bottom: 0;
}
ul{
    justify-items: left;
    display: grid;
    grid-template-columns: auto auto auto;
}
li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}
li button{
    width: 20em;
    height: 15em;
    border-radius: 5px;
    border-color: transparent;
    margin: 1px;
}
#courseButton{
    background-color: #4ba494;
    background-image: url(../../../../public/courseBackground.png);
    background-size: cover;
    background-blend-mode: soft-light;
    border: #4ba494;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}
#courseButton h3{
    background-color: #E8B35E !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
    width: 100%;
    height: 25px;
    text-align: center;
    padding-top: 5px;
}
#courseButton:hover{
    background-color: #a8a3a3 !important;
    background-image: url(../../../../public/courseBackground.png) !important;
    background-size: cover !important;
    background-blend-mode: soft-light !important;
}
li button:hover{
    color: #081a4b;
    box-shadow: #081a4b 2px 2px 0px 0px !important;
    cursor: pointer;
}
.update-deleteButton{
    border-color: transparent !important;
    background-color: #E8B35E !important;
    padding: 5px;
    height: 25px !important;
}
.update-deleteButton:hover{
    color: #081a4b;
    box-shadow: #081a4b 2px 2px 0px 0px !important;
    background-color: white !important;
    cursor: pointer;
}

#courseDisplay{
    display: flex;
    margin: 15px;
}
.sidebars{ 
    display: grid;
    margin-left: 20px;
}
.sidebar-link1{
    color: white;
    font-weight: bold;
    border-radius:15px;
    background-color: #63D9C4;
    align-items: center;
    padding: 15px;
}
.sidebar-link2{
    color: white;
    font-weight: bold;
    border-radius:15px;
    background-color: #E8B35E;
    align-items: center;
    padding: 15px;
}

#courseForm{
    width: fit-content;
    height: fit-content;
    background-color: #63D9C4;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#courseForm fieldset{
    border-color: transparent;
    margin: 5px;
    padding-left: 0;
    padding-right: 0;
}
#courseForm button{
    border-radius: 5px;
    border-color: black;
    background-color: #9D81EC;
}
#courseForm button:hover{
    cursor: pointer;
    border-color: transparent !important;
}