#courseBox{
    background-color: #D9D9D9;
    border-radius: 15px;   
    width: 75%;
}
#courseBox h2{
    margin: 15px;
    padding: 15px;
    margin-bottom: 0;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#header button{
    margin-right: 15px;
    border-radius: 15px;
    height: fit-content;
    padding: 10px;
    align-self: center;
    border-color: transparent;
    background-color: #9D81EC;
}
#header button:hover{
    cursor: pointer;
    background-color: white !important;
    box-shadow: #9D81EC 2px 2px 0 0 !important;
}
ul{
    justify-items: left;
    display: grid;
    grid-template-columns: auto auto auto;
}
li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}
li button{
    width: 20em;
    height: 15em;
    border-radius: 5px;
    border-color: transparent;
    margin: 1px;
}
#courseButton{
    background-color: #4ba494;
    background-image: url(../../../../public/courseBackground.png);
    background-size: cover;
    background-blend-mode: soft-light;
    border: #4ba494;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}
#courseButton h3{
    background-color: #E8B35E !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0;
    width: 100%;
    height: 25px;
    text-align: center;
    padding-top: 5px;
    text-transform: capitalize;
}
#courseButton:hover{
    background-color: #a8a3a3 !important;
    background-image: url(../../../../public/courseBackground.png) !important;
    background-size: cover !important;
    background-blend-mode: soft-light !important;
    transition: 0.5s ease;
}
li button:hover{
    color: #081a4b;
    box-shadow: #081a4b 2px 2px 0px 0px !important;
    cursor: pointer;
}
.update-deleteButton{
    border-color: transparent !important;
    background-color: #E8B35E !important;
    padding: 5px;
    height: 25px !important;
}
.update-deleteButton:hover{
    color: #081a4b;
    box-shadow: #081a4b 2px 2px 0px 0px !important;
    background-color: white !important;
    cursor: pointer;
}

#courseDisplay{
    display: flex;
    margin: 15px;
}
.sidebars{ 
    display: grid;
    margin-left: 20px;
}
.sidebar-link1{
    color: white;
    font-weight: bold;
    border-radius:15px;
    background-color: #63D9C4;
    align-items: center;
    padding: 15px;
}
.sidebar-link2{
    color: white;
    font-weight: bold;
    border-radius:15px;
    background-color: #E8B35E;
    align-items: center;
    padding: 15px;
}

#courseForm{
    width: fit-content;
    height: fit-content;
    background-color: #63D9C4;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#courseForm fieldset{
    border-color: transparent;
    margin: 5px;
    padding-left: 0;
    padding-right: 0;
}
#courseForm button{
    border-radius: 15px;
    border-color: transparent;
    background-color: #ffa704;
    margin: 5px;
    padding: 15px;
}
#courseForm button:hover{
    cursor: pointer;
    background-color: white !important;
    box-shadow: #ffa704 2px 2px 0 0 !important;
}

/**Pop up**/
.popup-background{
  display: flex;
  background-color: rgba(255,255,255,0.5);
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.popup-foreground{
  background: rgb(19, 243, 187);
  padding: 2em;
  width: 350px;
  margin-top: 8em;
  height: 50%;
  border-color: #ffa704;
  border-width: 10px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;

}