#courseBox{
    background-color: #D9D9D9;
    border-radius: 15px;   
}
#courseBox h2{
    margin: 15px;
    margin-top: 20px;
}
ul{
    justify-items: left;
    display: grid;
    grid-template-columns: auto auto auto;
}
li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
li button{
    width: 25em;
}