<section>
    <div>
        <h2>Courses</h2>
        <ul>
            <li *ngFor="let course of COURSES">
                <button routerLink="/course">
                    <h4 *ngIf="course.name">{{course.name}}</h4>
                    <p *ngIf="course.courseCode">{{course.courseCode}}</p>
                    <p *ngIf="course.description">{{course.description}}</p>
                </button>
            </li>
        </ul>
        <div class="second-navbar" >
                    <a class="nav-link-two" routerLink="/calendar"><i class="bi bi-box-arrow-right"></i> calendar </a>
                    <a class="nav-link-two" routerLink="/help"><i class="bi bi-box-arrow-right"></i> help</a>
                    <a class="nav-link-two"><p>Profile</p></a>
                    <a class="nav-link-two"><button id="notifbtn"> <img src="\bell-solid-full.svg" alt="Bell Icon" style="width: 20px; height: 20px; "></button></a>      
                </div>
    </div>
</section>