<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<section>
    <div>
       
        <ul>
            <li *ngFor="let course of COURSES">
                <button routerLink="/course">
                    <h4 *ngIf="course.name">{{course.name}}</h4>
                    <p *ngIf="course.courseCode">{{course.courseCode}}</p>
                    <p *ngIf="course.description">{{course.description}}</p>
                </button>
            </li>
        </ul>
                <div class="second-navbar" >
                    <a class="nav-link-two" routerLink="/calendar"><i class="bi bi-box-arrow-right"></i> calendar </a>
                    <a class="nav-link-two" routerLink="/help"><i class="bi bi-box-arrow-right"></i> help</a>
                    <a class="nav-link-two"><i class="bi bi-box-arrow-right"></i>profile</a>
                    <a class="nav-link-two"><button id="notifbtn"> <img src="\bell-solid-full.svg" alt="Bell Icon" style="width: 20px; height: 20px; "></button></a>    
                </div>
                <div class="page-content">
                <div class="course-grid">
                <h2>Courses</h2>
                <div class="class-list">
                    <a class="class" routerLink="/course"> Class1 </a>
                    <a class="class" routerLink="/course"> Class2 </a>
                    <a class="class" routerLink="/course"> Class3 </a>
                    <a class="class" routerLink="/course"> Class4 </a>
                    <a class="class" routerLink="/course"> Class5 </a>
                    <a class="classx" routerLink="/classx">+</a>
                </div>
                </div>
                
                <div class="sidebars">
                     <p class="sidebar-link1"> Weekly calendar </p>
                    <p class="sidebar-link2"> Notifications </p> 
                    </div>
                    </div>
                     
    </div>
</section>