
<h1>{{COURSES.name}}</h1>
<section class="CourseGrades">
    <div class="CourseAverage">
        <h3></h3>
    </div>
    <ul>
        <li>
            <button id="delete-button">Delete</button>
            <button id="edit-button">Edit</button>
        </li>
    </ul>
</section>

<section class="UserGrades">
    <div class="UserAverageGrade">
        <h3></h3>
    </div>
    <ul class="gradesList">
       
    </ul>
</section>

<section class="popupCreate">
    <form></form>
</section>

<section class="popupEdit">

</section>