
<h1>{{COURSES.name}}</h1>

<section class="CourseGrades">
  <h3>Course Average: {{courseAverageGrade}}</h3>

  <ul class="assignmentList" *ngIf="ASSIGNMENTS?.length">
    <li *ngFor="let assignment of ASSIGNMENTS; let i = index">
      <input type="checkbox" [id]="'toggle-box-' + i" class="toggle-checkbox">
      <div class="assignment-color">
        <label [for]="'toggle-box-' + i" class="toggle-label">{{assignment.name}}</label>
        <img src="arrow-down-solid-full.svg" class="arrow-toggle" width="10px" height="20px">
      </div>

      <div class="collapsible-content">
        <ul class="submissionsForAssignment">
          <li *ngFor="let submission of SUBMISSIONS[assignment.assignmentId]">
            {{submission.userName}}: {{submission.grade || 'Not graded'}}
          </li>
        </ul>
      </div>
    </li>
  </ul>
</section>

<section class="UserGrades">
  <h3>My Average: {{userAverageGrade}}</h3>

  <ul class="assignmentList">
    <li *ngFor="let assignment of ASSIGNMENTS">
      <strong>{{assignment.name}}</strong>
      <ul class="submissionsForAssignment">
        <li *ngFor="let submission of SUBMISSIONS[assignment.assignmentId]">
          <span *ngIf="submission.userId === 'currentUserId'">
            Grade: {{submission.grade || 'Not graded'}}
          </span>
        </li>
      </ul>
    </li>
  </ul>
</section>
