<header>
  <nav>
    <div id="big-box">
      <div>
        <a id="logo" routerLink="/home" (click)="resetId()"><img src="PeerPortLogoColour.svg" alt="PeerPort Logo"></a>
        <a class="link" *ngIf="!User?.userId" href="{{apiUrl}}login/google"> Login </a>
        <a class="link" routerLink="/home" (click)="resetId()"> Home </a>
        <a class="link" *ngIf="courseId" [routerLink]="['home/course/', courseId]"> Course </a>
        <a class="link" *ngIf="courseId" [routerLink]="['home', 'course', courseId, 'assignments']"> Assignments </a>
        <a class="link" *ngIf="courseId" [routerLink]="['home', 'course', courseId, 'grades']"> Grades </a>
        <a class="link" *ngIf="courseId" [routerLink]="['home', 'course', courseId, 'classlist']">Class List</a>
        <a class="link" routerLink="calendar">Calendar</a>
      </div>
    </div>
  </nav>
</header>