#big-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #D9D9D9;
  border-radius: 15px;
}
#big-box > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: auto; 
  flex: 0 0 auto; 
  background-color: #E8B35E;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 15px;
  margin: 10px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
}
#big-box a.link {
  display: inline-flex;
  align-items: center;
  background-color: #D9D9D9;
  text-decoration: none;
  color: black;
  border-radius: 15px;
  width: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
  box-shadow: transparent 3px 3px 0px 0px;
}
a.link:hover{
  transition: 0.5s ease;
  box-shadow: #081a4b 2px 2px 0px 0px !important;
  background-color: white !important;
  color: #081a4b !important;
  cursor: pointer;
  font-weight: bold !important;
}
img{
    width: 78px;
}
