<header>
<nav>
    <div>
      <img src="PeerPortLogoColour.svg" alt="PeerPort Logo" style="width: 40px; height: 40px;">
      <div>
        <div>
          <a *ngIf="!User?.userId" href="{{apiUrl}}login/google"> Login </a>
          <a routerLink="/home" (click)="resetId()"> Home </a>
          <a *ngIf="courseId" [routerLink]="['home/course/', courseId]"> Course </a>
          <a *ngIf="courseId" [routerLink]="['home', 'course', courseId, 'assignments']"> Assignments </a>
          <a *ngIf="courseId" [routerLink]="['home', 'course', courseId, 'grades']"> Grades </a>
          <a *ngIf="courseId" [routerLink]="['home', 'course', courseId, 'classList']">Class List</a>
          <a routerLink="calendar">Calendar</a>
        </div>
      </div>
    </div>
  </nav>
</header>